<!DOCTYPE HTML>
<html>
	<head>
		<title>Webサイトを作成しよう！</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag 'top' %>
		<noscript><%= stylesheet_link_tag 'noscript' %></noscript>
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<header id="header" class="alt">
						<h1>webサイトを作成しよう</h1>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
              <li><%= link_to 'Introduction', '#intro', class: 'active' %></li>
              <li><%= link_to 'First Section', '#first' %></li>
							<li><%= link_to 'Second Section', '#second' %></li>
              <li><%= link_to 'Get Started', '#cta' %></li>
						</ul>
					</nav>
					<div id="main">
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>本サイトについて</h2>
										</header>
										<p>本サイトでは、自分のwebサイトを簡単に作成したいという方向けに作成しました。
                      まだ実装途中ではありますが、自由にサイトを組み立てられるようにしていく予定です。
                      見守っていて下さると幸いです。</p>
									</div>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>実装予定</h2>
								</header>
								<ul class="features">
									<li>
										<h3>top画面</h3>
										<p>まずはtop画面を仕上げます。</p>
									</li>
									<li>
										<h3>ユーザー登録機能</h3>
										<p>自分の作ったサイトを見返すことができるよう、ユーザー登録機能を実装させます。</p>
									</li>
									<li>
										<h3>マイページ</h3>
										<p>ほぼ履歴画面になるかと</p>
									</li>
								</ul>
							</section>

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2>作成履歴</h2>
									<p>私はこのサイトをポートフォリオ用として作成します。<br />
									ここには私の軌跡が分かるよう、実装手順などを記していこうと思います。</p>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="icon solid fa-code-branch"></span>
										<strong>5,120</strong> Etiam
									</li>
									<li class="style2">
										<span class="icon fa-folder-open"></span>
										<strong>8,192</strong> Magna
									</li>
									<li class="style3">
										<span class="icon solid fa-signal"></span>
										<strong>2,048</strong> Tempus
									</li>
									<li class="style4">
										<span class="icon solid fa-laptop"></span>
										<strong>4,096</strong> Aliquam
									</li>
									<li class="style5">
										<span class="icon fa-gem"></span>
										<strong>1,024</strong> Nullam
									</li>
								</ul>
								<p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>

						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>サイト作成</h2>
									<p>以下のボタンを押すと、サイト作成画面に遷移します。<br >
                  是非自身のサイトを気軽に作成してみてください。</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><%= link_to 'サイトを作る', 'generic.html', class: 'button primary' %></li>
										<li><%= link_to 'Learn More', 'generic.html', class:'button' %></li>
									</ul>
								</footer>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Aliquam sed mauris</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><%= link_to 'Learn More', 'generic.html', class:'button' %></li>
							</ul>
						</section>
						<section>
							<h2>Etiam feugiat</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(000) 000-0000 x 0000</dd>
								<dt>Email</dt>
								<dd><a href="#">information@untitled.tld</a></dd>
							</dl>
							<ul class="icons">
                <li><%= link_to '#', class: 'icon brands fa-twitter alt' do %><span class="label">Twitter</span><% end %></li>
                <li><%= link_to '#', class: 'icon brands fa-facebook-f alt' do %><span class="label">Facebook</span><% end %></li>
                <li><%= link_to '#', class: 'icon brands fa-instagram alt' do %><span class="label">Instagram</span><% end %></li>
                <li><%= link_to '#', class: 'icon brands fa-github alt' do %><span class="label">GitHub</span><% end %></li>
                <li><%= link_to '#', class: 'icon brands fa-dribbble alt' do %><span class="label">Dribbble</span><% end %></li>
							</ul>
						</section>
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>